<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->
<script>
// $(document).ready(function(){
//   $("#more_details").hide();
//   $("#hide").hide();
  
//   $("#hide").click(function(){
//     $("#more_details").hide();
//     $("#show").show();
//     $("#show_major").show();
//     $("#hide").hide();
    
    
//   });
//   $("#show").click(function(){
//     $("#more_details").show();
//     $("#show").hide();
//     $("#hide").show();
//     $("#show_major").hide();
//   });
// });

// function myFunction() {
    
//     $("#myForm").reset();
// }
</script>


  <div class='nested-fields'>
        <table width="100%" border="0" class="table table-bordered table-striped">
          <thead></thead>
          <tbody>
            <tr>
              <td><strong><%= f.label :degree %></strong></td>
              <td> <%= f.select :degree, [ ["Undergraduate", "Undergraduate"],["Graduate", "Graduate"],["Diploma", "Diploma"] ],{:include_blank=>"Select One"},required: true %></td>
              <td><strong><%= f.label :major %></strong></td>
              <%#raise @student.student_degrees.other_major.inspect%>
              <td>
                <div id="show_major">
                <%= f.collection_select :major, Admin::StudentMajor.order(:major_name), :major_name, :major_name, {:include_blank=>"Select Major"}%>
                <%= f.text_field :other_major,:placeholder => "Other Major Specify",:id=>"myForm"%>
                </div>
                <!-- <input type="button" id="hide" onclick="myFunction()" class="btn btn-primary" value="Remove">
                <input type="button" id="show" class="btn btn-primary" value="Other Major"> -->
                <!-- <div id="more_details">
                
                   <%= f.text_field :other_major,:id=>"myForm"%>
                 
                </div> -->
              </td>
            </tr>
            <tr>
              <td><strong><%= f.label :country %></strong></td>
              <td>
                <%= f.collection_select :country_id, Country.order(:country_name), :id,:country_name,{:include_blank=>"Select Country"},:id =>"my_country",:rel => "/degree/degrees_by_country",  required: true%>
                <%#= f.collection_select :country_id, Country.order(:country_name), :id, :country_name,{:include_blank => true} %></td><br/>
              
              <td><strong><%= f.label :student_university_id , "University" %></strong></td>
              <td> 
                <%= f.collection_select :student_university_id, @degrees, :id, :university_name,  {:include_blank=>"Select University"},:id => "my_university"%>
                <%#= f.grouped_collection_select :student_university_id, Country.order(:country_name), :student_universities, :country_name, :id, :university_name, {:include_blank => true} %></td>

            </tr>
            <tr>
              <td><strong><%= f.label :college %></strong></td>
              <td><%= f.text_field :college %></td><br/>
              <td><strong><%= f.label :gpa , "GPA" %></strong></td>
              <td> <%= f.text_field :gpa %></td>
            </tr>
            <tr>
              <td><strong><%= f.label :garduation_year %></strong></td>
              <td><%= f.text_field :garduation_year %></td><br/>
              <td><strong><%= f.label :student_city_id, "City" %></strong></td>
              <td>
                <%= f.collection_select :student_city_id, @cities, :id, :student_city_name,  {:include_blank=>"Select City"},:id => "my_city"%>
                <%#= f.grouped_collection_select :student_city_id, Country.order(:country_name), :student_cities, :country_name, :id, :student_city_name, {:include_blank => true} %> </td>
            </tr>
          </tbody>
        </table>
        <%#= f.hidden_field :_destroy %>
        <%= link_to_remove_association "remove",f %>
     </div>



<script>
  $(document).ready(function() {
    $('#my_country').change(function() {
      $.ajax({
        url: "<%= degree_degrees_by_country_path %>",
        data: {
          id : $('#my_country').val()
        },
        dataType: "script"
      });
    });
    
  });
</script>