<!--   <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong><%= label_tag :degree_type %></strong></td>
        <td><%= text_field_tag :degree_type %></td>
        <td><strong><%= label_tag :major %></strong></td>
        <td><%= text_field_tag :major %></td><br/>
        </tr>
        <tr>
           <td><strong><%= label_tag :degree_gpa  %></strong></td>
           <td><%= text_field_tag :degree_gpa %></td>
           <td><strong><%= label_tag :degree_university  %></strong></td>
           <td><%= text_field_tag :degree_university%></td>
        </tr>
        <tr>
          <td><strong><%= label_tag :degree_university_loc  %></strong></td>
          <td><%= text_field_tag :degree_university_loc%></td>
          <td><strong><%= label_tag :certifications  %></strong></td>
          <td><%= text_field_tag :certifications%></td>

        </tr>
        <tr>
          <td><strong><%= label_tag :certification_body  %></strong></td>
          <td><%= text_field_tag :certification_body%></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table> 
 
  <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong><%= label_tag :degree_type %></strong></td>
        <td><%= text_field_tag :degree_type1%></td>
        <td><strong><%= label_tag :major %></strong></td>
        <td><%= text_field_tag :major1%></td><br/>
        </tr>
        <tr>
           <td><strong><%= label_tag :degree_gpa  %></strong></td>
           <td><%= text_field_tag :degree_gpa1 %></td>
           <td><strong><%= label_tag :degree_university  %></strong></td>
           <td><%= text_field_tag :degree_university1%></td>
        </tr>
        <tr>
          <td><strong><%= label_tag :degree_university_loc  %></strong></td>
          <td><%= text_field_tag :degree_university_loc1%></td>
          <td><strong><%= label_tag :certifications  %></strong></td>
          <td><%= text_field_tag :certifications1%></td>

        </tr>
        <tr>
          <td><strong><%= label_tag :certification_body  %></strong></td>
          <td><%= text_field_tag :certification_body1%></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table> --> 
  



  <fieldset>
        <table width="100%" border="0" class="table table-bordered table-striped">
          <thead></thead>
          <tbody>
            <tr>
              <td><strong><%= f.label :degree_type %></strong></td>
              <td> <%= f.text_field :degree_type %></td>
              <td><strong><%= f.label :major %></strong></td>
              <td><%= f.text_field :major %></td><br/>
            </tr>
          </tbody>
        </table>
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>
      </fieldset> 


    