  <div class="field">
    <%= label_tag :degree_type %>
    <%= text_field_tag :degree_type %>
  </div>

  <div class="field">
    <%= label_tag :major %>
    <%= text_field_tag :major %>
  </div>
  
  <div class="field">
    <%= label_tag :degree_gpa  %>
    <%= text_field_tag :degree_gpa %>
  </div>

  <div class="field">
    <%= label_tag :degree_university  %>
    <%= text_field_tag :degree_university%>
  </div>

  <div class="field">
    <%= label_tag :degree_university_loc  %>
    <%= text_field_tag :degree_university_loc%>
  </div>

  <div class="field">
    <%= label_tag :certifications  %>
    <%= text_field_tag :certifications%>
  </div>

  <div class="field">
    <%= label_tag :certification_body  %>
    <%= text_field_tag :certification_body%>
  </div>
---------------------------------------------------------------------------------
  <div class="field">
    <%= label_tag :degree_type %>
    <%= text_field_tag :degree_type1%>
  </div>

  <div class="field">
    <%= label_tag :major %>
    <%= text_field_tag :major1%>
  </div>
  
  <div class="field">
    <%= label_tag :degree_gpa  %>
    <%= text_field_tag :degree_gpa1 %>
  </div>

  <div class="field">
    <%= label_tag :degree_university  %>
    <%= text_field_tag :degree_university1%>
  </div>

  <div class="field">
    <%= label_tag :degree_university_loc  %>
    <%= text_field_tag :degree_university_loc1 %>
  </div>

  <div class="field">
    <%= label_tag :certifications  %>
    <%= text_field_tag :certifications1%>
  </div>

  <div class="field">
    <%= label_tag :certification_body  %>
    <%= text_field_tag :certification_body1 %>
  </div>
