  <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong><%= label_tag :degree_type %></strong></td>
        <td><%= text_field_tag :degree_type,required: true  %></td>
        <td><strong><%= label_tag :major %></strong></td>
        <td><%= text_field_tag :major,required: true %></td><br/>
        </tr>
        <tr>
           <td><strong><%= label_tag :degree_gpa  %></strong></td>
           <td><%= text_field_tag :degree_gpa,required: true %></td>
           <td><strong><%= label_tag :degree_university  %></strong></td>
           <td><%= text_field_tag :degree_university,required: true%></td>
        </tr>
        <tr>
          <td><strong><%= label_tag :degree_university_loc  %></strong></td>
          <td><%= text_field_tag :degree_university_loc,required: true%></td>
          <td><strong><%= label_tag :certifications  %></strong></td>
          <td><%= text_field_tag :certifications,required: true%></td>

        </tr>
        <tr>
          <td><strong><%= label_tag :certification_body  %></strong></td>
          <td><%= text_field_tag :certification_body,required: true%></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table> 
 
  <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong><%= label_tag :degree_type %></strong></td>
        <td><%= text_field_tag :degree_type1,required: true %></td>
        <td><strong><%= label_tag :major %></strong></td>
        <td><%= text_field_tag :major1 ,required: true%></td><br/>
        </tr>
        <tr>
           <td><strong><%= label_tag :degree_gpa  %></strong></td>
           <td><%= text_field_tag :degree_gpa1,required: true %></td>
           <td><strong><%= label_tag :degree_university  %></strong></td>
           <td><%= text_field_tag :degree_university1,required: true%></td>
        </tr>
        <tr>
          <td><strong><%= label_tag :degree_university_loc  %></strong></td>
          <td><%= text_field_tag :degree_university_loc1,required: true%></td>
          <td><strong><%= label_tag :certifications  %></strong></td>
          <td><%= text_field_tag :certifications1,required: true%></td>

        </tr>
        <tr>
          <td><strong><%= label_tag :certification_body  %></strong></td>
          <td><%= text_field_tag :certification_body1,required: true%></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table> 
  