


<%#= javascript_include_tag "application" %>
<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
   <%= link_to_function "Back", "history.back()",:class=> "back-btn" %>
 </p>
<h1>Edit Student Profile</h1>
<%#= render 'form' %>
<%# if params[:student_id].present?%>
  <%= form_for [:admin,@student]  do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
  	  <ul>
  	   <%  @student.errors.full_messages.each do |msg| %>
  	     <li><%= msg %></li>
  	   <% end %>
  	  </ul>
      </div>
    <% end %>
    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
          <td><strong><span style="color: Red;">*</span><%= "First Name" %></strong></td>
          <td><%= f.text_field :student_firstname,required: true %></td>
          <td><strong><span style="color: Red;">*</span><%= "Last Name"  %></strong></td>
          <td><%= f.text_field :student_lastname,required: true %></td>
        </tr>

        <tr>
          <td><strong><span style="color: Red;">*</span><%= "Telephone"  %></strong></td>
          <td><%= f.text_field :telephone,required: true %></td>
          <td><strong><span style="color: Red;">*</span><%= "Email"  %></strong></td>
          <td><%= f.text_field :email,:value=> @student.email, :disabled => true,required: true%></td>
        </tr>
        <tr>

          <td><strong><span style="color: Red;">*</span><%= "Status"  %></strong></td>
          <td><%= f.select :status, [ ["International", "International"],["Permanent Resident/Citizen", "Permanent Resident/Citizen"] ],{:include_blank=>"Select One",:selected => "#{@student.status rescue nil}"} ,:required =>true%></td>
           
          <td><strong><span style="color: Red;">*</span><%= "Gender"  %></strong></td>
          <td><%= f.select :gender, [ ["Male", "Male"],["Female", "Female"] ],{:include_blank=>"Select One",:selected => "#{@student.gender rescue nil}"} ,:required =>true%></td>
        </tr> 

        <tr>
          <td><strong><span style="color: Red;">*</span><%= "Semester"  %></strong></td>
          <td><%= select_tag(:semester, options_for_select([["Fall", "Fall"],["Winter", "Winter"]],:selected => "#{@student.semester_registereds.where('student_id = ?', @student.id).first.semester}", :include_blank => true)) %></td>
          <%#raise @student.semester_registereds.where('student_id = ?', @student.id).first.semester.inspect%>
          <td><strong><span style="color: Red;">*</span><%= "Country"  %></strong></td>
          <td><%#= f.country_select :country, selected: @student.country %><%= f.collection_select :country_id, Country.order(:country_name), :id, :country_name, include_blank: true %></td>
        </tr> 

        <tr>
          <td><strong><span style="color: Red;">* </span><%= "Year"  %></strong></td>
          <td><%= date_field_tag :year, "", :value => @semester[0].student_year %></td>
          <td><strong><span style="color: Red;">*</span><%= "Resume"  %></strong></td>
          <td>
            <%= f.file_field :attachment%>
            <%if @student.attachment.present? %>
              <%= link_to "#{@student.attachment.file.filename}", @student.attachment_url %>
            <%end%>
          </td>
        </tr>  
      </tbody>
    </table>



    <h3>Add Degree</h3>

    <div id='student_degrees'>
      <%= f.fields_for :student_degrees do |student_degree| %>
        <%= render 'student_degree_fields', f: student_degree %>
      <% end %>
      <%= link_to_add_association "Add Degrees", f, :student_degrees %><br>
    </div>
    
    
    <h3>Add Certificate</h3>

    <div id='student_degrees'>
      <%= f.fields_for :student_certifications do |builder| %>
        <%= render 'student_certification_fields', f: builder %>
      <% end %>
      <%= link_to_add_association "Add Certificate", f, :student_certifications %>
    </div>
    <%#= f.hidden_field :student_profile , :value => "student_profile"%>
    <%#= f.hidden_field :student_id , :value => params[:student_id]%>

    <%# end %>
    <div ></div><br>

    <div class="actions">
      <%= f.submit %><br>
    </div>

  <% end %>

  
<%#else%>
  <!-- <h1>No Student Present</h1> -->
<%#end%>
</div>
    </div>
  </div>
</div>
