  <div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
   <ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li> 
            <li><%= link_to 'Students Index Page', admin_students_path %></li>
            <li class = "active"><%= @student.email%></li> 
            
    </ol>
   <%#= link_to_function "Back", "history.back()",:class=> "back-btn" %>
 </p>
 <h3>PROFILE</h3>
 <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong>Student email:</strong></td>
        <td><%= @student.email rescue nil %></td>
        <td><strong>Student Id:</strong></td>
        <td><%= @student.studentid rescue nil %></td><br/>
        </tr>
        <tr>
           <td><strong>First Name:</strong></td>
           <td><%= @student.student_firstname rescue nil %></td>
           <td><strong>Lastname:</strong></td>
          <td><%= @student.student_lastname rescue nil %></td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td><%= @student.gender rescue nil %></td>
          
          <td><strong>Telephone:</strong></td>
          <td><%= @student.telephone rescue nil %></td>

        </tr>
        <tr>
          <td><strong>Country:</strong></td>
          <td><%= ISO3166::Country[@student.country] rescue nil %></td>
          <td><strong>Status:</strong></td>
          <td><%= @student.status rescue nil %></td>
        </tr>
        <tr>
          <td><strong>Semester:</strong></td>
          <td><%= @student.semester_registereds.where('student_id = ?', @student.id).first.semester rescue nil %></td>
          <td>Year:</td>
          <td><%= @student.semester_registereds.where('student_id = ?', @student.id).first.student_year rescue nil %></td>
        </tr>
        
      </tbody>
    </table> 
    <h3>RESUME</h3>
    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
          <%= link_to (image_tag(@student.attachment_url(:web_thumb, style:"height: 500; width: 500;"))), @student.attachment_url  %>
        </tr>
      </tbody>
    </table>
    <h3>EDUCATION</h3>
    <%if @education.present?%>
    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong>Degree Type:</strong></td>
        <td><%= @education.degree_type rescue nil %></td>
        <td><strong>Major:</strong></td>
        <td><%= @education.major rescue nil %></td><br/>
        </tr>
        <tr>
           <td><strong>Degree GPA:</strong></td>
           <td><%= @education.degree_gpa rescue nil %></td>
           <td><strong>Degree University:</strong></td>
           <td><%= @education.degree_university rescue nil %></td>
        </tr>
        <tr>
          <td><strong>Degree University Location:</strong></td>
          <td><%= @education.degree_university_loc rescue nil %></td>
          <td><strong>Certifications:</strong></td>
          <td><%= @education.certifications rescue nil %></td>

        </tr>
        <tr>
          <td><strong>Certification Body:</strong></td>
          <td><%= @education.certification_body rescue nil %></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table> 
    <%end%>

    <%if @education1.present? %>
    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong>Degree Type:</strong></td>
        <td><%= @education1.degree_type rescue nil %></td>
        <td><strong>Major:</strong></td>
        <td><%= @education1.major rescue nil %></td><br/>
        </tr>
        <tr>
           <td><strong>Degree GPA:</strong></td>
           <td><%= @education1.degree_gpa rescue nil %></td>
           <td><strong>Degree University:</strong></td>
           <td><%= @education1.degree_university rescue nil %></td>
        </tr>
        <tr>
          <td><strong>Degree University Location:</strong></td>
          <td><%= @education1.degree_university_loc rescue nil %></td>
          <td><strong>Certifications:</strong></td>
          <td><%= @education1.certifications rescue nil %></td>

        </tr>
        <tr>
          <td><strong>Certification Body:</strong></td>
          <td><%= @education1.certification_body rescue nil %></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table> 
    <%end%>
    <h3>Work Experience</h3>
    <%if @student_work_exp.present?%>
    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong>Company:</strong></td>
        <td><%= @student_work_exp.company rescue nil %></td>
        <td><strong>Company Location:</strong></td>
        <td><%= @student_work_exp.company_location rescue nil %></td><br/>
        </tr>
        <tr>
           <td><strong>Dates Start:</strong></td>
           <td><%= @student_work_exp.dates_start rescue nil %></td>
           <td><strong>Date End:</strong></td>
           <td><%= @student_work_exp.date_end rescue nil %></td>
        </tr>
        <tr>
          <td><strong>Position:</strong></td>
          <td><%= @student_work_exp.position rescue nil %></td>
          <td></td>
          <td></td>

        </tr>
      </tbody>
    </table> 
    <%end%>

    <%if @student_work_exp1.present?%>
    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
        <td><strong>Company:</strong></td>
        <td><%= @student_work_exp1.company rescue nil %></td>
        <td><strong>Company Location:</strong></td>
        <td><%= @student_work_exp1.company_location rescue nil %></td><br/>
        </tr>
        <tr>
           <td><strong>Dates Start:</strong></td>
           <td><%= @student_work_exp1.dates_start rescue nil %></td>
           <td><strong>Date End:</strong></td>
           <td><%= @student_work_exp1.date_end rescue nil %></td>
        </tr>
        <tr>
          <td><strong>Position:</strong></td>
          <td><%= @student_work_exp1.position rescue nil %></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table> 
    <%end%>
  <p>
    <% @skill_groups.each do |skillgrp| %>
      <strong><%= skillgrp.skill rescue nil%></strong> <br/>
      <%skillgrp.skills.each do |skill|%>
         <table width="100%" border="0" class="table table-bordered table-striped">
          <%@skill_level = UserSkill.where('student_id = ? and skill_id = ?',@student.id,skill.id).first rescue nil%>
         <%@skill = Skill.find(@skill_level.skill_id) rescue nil%>
          <thead>
            <th><strong><%= @skill.skill_name rescue nil%></strong></th>
          </thead>
         <tbody>
         <tr>
         <td><%= @skill_level.skill_level rescue nil%></td>
         </tr>
         </tbody> 
         </table>
      <%end%>
    <%end%>
  </p>
  </div>
    </div>
  </div>
</div>