<%= javascript_include_tag "application" %>
<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
   <%= link_to_function "Back", "history.back()",:class=> "back-btn" %>
 </p>
<div class="form">
<% if params[:student_id].present?%>
  <%= form_for [:admin,@student] do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
  	  <ul>
  	   <%  @student.errors.full_messages.each do |msg| %>
  	     <li><%= msg %></li>
  	   <% end %>
  	  </ul>
      </div>
    <% end %>

    <table width="100%" border="0" class="table table-bordered table-striped">
      <thead></thead>
      <tbody>
        <tr>
          <td><strong><span style="color: Red;">*</span><%= "First Name" %></strong></td>
          <td><%= f.text_field :student_firstname,required: true %></td>
          <td><strong><span style="color: Red;">*</span><%= "Last Name"  %></strong></td>
          <td><%= f.text_field :student_lastname,required: true %></td>
        </tr>
        <tr>
           <td><strong><span style="color: Red;">*</span><%= "Telephone"  %></strong></td>
          <td><%= f.text_field :telephone,required: true %></td>
           <td><strong><span style="color: Red;">*</span><%= "Email"  %></strong></td>
           <td><%= f.text_field :student_email,:value => @student.email,required: true%></td>
        </tr>
        <tr>
          <td><strong><span style="color: Red;">*</span><%= "Status"  %></strong></td>
          <td><%= f.select :status, [ ["International", "International"],["Permanent Resident/Citizen", "Permanent Resident/Citizen"] ],{:include_blank=>"Select One",:selected => "International"} ,:required =>true%></td>
           
          <td><strong><span style="color: Red;">*</span><%= "Gender"  %></strong></td>
          <td><%= f.select :gender, [ ["Male", "Male"],["Female", "Female"] ],{:include_blank=>"Select One",:selected => "Male"} ,:required =>true%></td>
        </tr> 

        <tr>
          <td><strong><span style="color: Red;">*</span><%= "Semester"  %></strong></td>
          <td><%= select_tag(:semester, options_for_select([["Fall", "Fall"],["Winter", "Winter"]],:selected => "Fall", :include_blank => true)) %></td>
          <%#raise @student.country.inspect%>
          <td><strong><span style="color: Red;">*</span><%= "Country"  %></strong></td>
          <td><%= f.country_select :country, selected: @student.country %></td>
        </tr> 

        <tr>
          <td><strong><span style="color: Red;">*</span><%= "Year"  %></strong></td>
          <td><%= date_field_tag :year%></td>
          <td><strong><span style="color: Red;">*</span><%= "Resume"  %></strong></td>
          <td><%= f.file_field :attachment %></td>
         
        </tr>  
      </tbody>
    </table> 

    <%#= f.hidden_field :student_profile , :value => "student_profile"%>
    <%= f.hidden_field :student_id , :value => params[:student_id]%>
    <!-- <div class="field">
      <%= f.label :studentid %>
      <%= f.text_field :studentid,required: true %>
    </div> -->
      <h2>EDUCATION</h2>
      <%= render  "admin/students/education_fields" %>
      <h2>WORK EXPERIENCE</h2>
      <%= render  "admin/students/student_work_exp" %>
    
    
    <div class="actions">
      <%= f.submit %><br>
    </div>

  <% end %>

  </div>
</div>
</div>
</div>
</div>

  <script type="text/javascript">
      jQuery.noConflict();
      jQuery(function($){
        jQuery("#year").datepicker({
          changeYear: true,
          showButtonPanel: true,
          dateFormat: 'yy',
          beforeShowDay: jQuery.datepicker.nodates,
          onClose: function(dateText, inst) { 
              var year = jQuery("#ui-datepicker-div .ui-datepicker-year :selected").val();
              jQuery(this).datepicker('setDate', new Date(year, 1));
          }
      });

      jQuery("#year").focus(function () {
          jQuery(".ui-datepicker-month").hide();
          jQuery(".ui-datepicker-calendar").hide();
          jQuery(".ui-datepicker-current").hide();
      });

      });
  </script>
<%else%>
  <h1>No Student Present</h1>
<%end%>