<div id="faq">
    <div class="container" style="margin-top:150px">
        <div class="section_header">
            <h3>Dashboard</h3>
        </div>

        <div class="row">
            <div class="span6 block">
              <div class="box">
                    <p class="title">Welcome to Dashboard</p>
                    
                   
              </div>
            </div>

            <div class="span6 block">
              <div class="box">
			          <ul>
			 
			              <li><%= link_to "Job Group",admin_job_groups_path%></li>
					      <li><%= link_to "Jobs",admin_jobs_path%></li>
					      <li><%= link_to "Internship Status", admin_internship_statuses_path %></li>
					      <li><%= link_to "Companies",admin_companies_path%></li>
					      <li><%= link_to "Add City",admin_cities_path%></li>
					      <li><%= link_to "Skill Group",admin_skill_groups_path%></li>
					      <li><%= link_to "Skills",admin_skills_path%></li>
					      <li><%= link_to "Students",admin_students_path%></li>
					      <li><%= link_to "Job Posting",admin_job_posts_path%></li>
					      <li><%= link_to "Intrested Students For Job",admin_student_job_interests_path%></li>
					      <li><%= link_to "Student Job Hire",admin_student_hire_path%></li>
					      <li><%= link_to "Reports",admin_reports_path%></li>

                </ul>
                
              </div>
                
            </div>

        </div>
    </div>
</div>





