<%= javascript_include_tag "jquery.min.js" %>
<%= form_for([:admin,@company],:html =>{ :multipart => true,:onsubmit => "return validateEmail(this.form)"})  do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
	  <ul>
	   <%  @company.errors.full_messages.each do |msg| %>
	     <li><%= msg %></li>
	   <% end %>
	  </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :internship_type %>
    <%= f.select :internship_type, [ ["Company", "Company"],["Startup Company", "Startup Company"],["Research Project", "Research Project"],["MAC Project", "MAC Project"],["Other", "Other"] ],{:include_blank=>"Select One"} ,:required =>true%>
  </div>
  
  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name,:placeholder => "University of Windsor",required: true %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address,required: true %>
  </div>
  
  <div class="field">
    <%= f.label :Company_city  %>
    <%= f.collection_select :city, Admin::City.order("city_name asc"),:city_name, :city_name,{:include_blank=>"Select One",:selected => "Windsor"},required: true %>
  </div>

  <div class="field">
    <%= f.label :postal  %>
    <%= f.text_field :postal,required: true%>
  </div>

  <div class="field">
    <%= f.label :country  %>
    <%= f.country_select :country,selected: "CA",required: true %>
  </div>
  
  <div class="field">
    <%= f.label :province  %>
    <%= f.text_field :province%>
  </div>

  <div class="field">
    <%= f.label :contact_person_first  %>
    <%= f.text_field :contact_person_first %>
  </div>

  <div class="field">
    <%= f.label :contact_person_last  %>
    <%= f.text_field :contact_person_last%>
  </div>

  <div class="field">
    <%= f.label :contact_person_position  %>
    <%= f.text_field :contact_person_position %>
  </div>

  <div class="field">
    <%= f.label :telephone  %>
    <%= f.text_field :telephone%>
  </div>

  <div class="field">
    <%= f.label :email  %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :company_website  %>
    <%= f.text_field :company_website  %>
  </div>

  <div class="field">
    <%= f.label :notes  %>
    <%= f.text_area :notes%>
  </div>
  
  <div class="actions">
    <%= f.submit %><br>
  </div>

<% end %>

<script type="text/javascript">

  function validateEmail($) {
   if (jQuery('#company_email').val() != "" || jQuery('#company_email').val() != null) 
        {
            
            jQuery('span.error-keyup-7').remove();
            var inputVal = jQuery('#company_email').val();
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!emailReg.test(inputVal)) {
                jQuery('#company_email').after('<span class="error error-keyup-7" style="color:red;">Invalid Email Format.</span>');
                jQuery('#company_email').focus();
                return false;
            }
            
        }
    };


</script>
