<div class="faq">
  <div class="container">
    <div class="row" style="margin-top:150px;">
      <div class="span12">
       <p>
          <%= link_to 'New', new_admin_company_path %>
       </p>

<!-- <table border cellspacing=0 cellpadding=10> -->
<table width="100%" border="0" class="table table-bordered table-striped">
<tr>
	<th><%= "internship_type" %></th>
	<th><%= "company_name" %></th>
	<th><%= "email" %></th>
	<th><%= "company_website" %></th>
	<th><%= "notes" %></th>
	<th colspan=2>Actions</th>
</tr>
<% @company.each do |company| %>
<tr>
	<td><%= company.try(:internship_type) %></td>
	<td><%= company.try(:company_name) %></td>
	<td><%= auto_link(company.try(:email)) %></td>
	<td><%= auto_link(company.try(:company_website)) %></td>
    <td><%= company.try(:notes) %></td>
	<td><%= link_to 'Edit', edit_admin_company_path(company) %></td>
	<td><%= link_to 'Show Company', admin_company_path(company) %></td>
</tr>
<% end %>
</table>
</div>
    </div>
  </div>
</div>
