
<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
 	<p>
          
          <ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li>
            <li class = "active">Jobs</li>
            <li><%= link_to 'Create Job', new_admin_job_path %></li>
          </ol>
       </p>
   <%#= link_to 'New', new_admin_job_path %>
 </p>

<table cellpadding="0" cellspacing="0" border="0" class="dataTable" id="examplee">
	<thead>
		<tr>
			<th><%= "Job Group" %></th>
			<th><%= "Position" %></th>
			<th><%= "Company" %></th>
			<th><%= "Status" %></th>
			<th><%= "Publish/Unpublish" %></th>
			<th><%= "Edit" %></th>
			<th><%= "Delete" %></th>
		</tr>
    </thead>

	<tbody>
		<% @jobs.each do |job| %>
			<tr>
				<td><%= job.job_group.job_model_name rescue nil%></td>
				<td><%= link_to job.try(:job_name), admin_job_path(job) %></td>
				<td><%= job.company.company_name rescue nil%></td>
				<%#= raise job.status.inspect%>
				<% if job.status ==  "1"%>
			          <td><%= "Open" %></td>
			        <%else%>
			          <td><%= "Closed"%></td>
			    <%end%>
			    <%if job.publish_unpublish == false %>
			       <td><%= link_to "Publish", admin_publish_unpublish_path(:id => job.id, :publish => 1)%></td>
			    <%else%>
			       <td><%= link_to "Unpublish", admin_publish_unpublish_path(:id => job.id, :publish => 0)%></td>
			    <%end%>
				<td><%= link_to 'Edit', edit_admin_job_path(job) %></td>
				<td>
                   <%= button_to("Delete",admin_job_path(job), {:onclick => "return confirm('Are you sure?')", :method => :delete}) %>
					<%#= button_to 'Delete', admin_job_path(job), method: :delete,:onclick=>"return validateAll();" %></td>
			</tr>
		<% end %>
	</tbody>

</table>
</div>
    </div>
  </div>
</div>

<script type="text/javascript">

     $(document).ready(function() {
    $('#examplee').dataTable({"sPaginationType": "full_numbers"	});


     function validateAll() {
     alert("Are you sure?");
     return false;
  };
});
    </script>
