
<div class="faq">
  <div class="container">
    <div class="row" style="margin-top:150px;">
      <div class="span12">
       <p>
          <ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li> 
            
            <li class = "active">City</li> 
            <li><%= link_to 'New City', new_admin_city_path %></li>
          </ol>
          <%#= link_to 'New City', new_admin_city_path %>
       </p>
<p id="notice"><%= notice %></p>

<h1>Listing Cities</h1>

    <table cellpadding="0" cellspacing="0" border="0" class="dataTable" id="example">
      <thead>
        <tr>
          <th>City name</th>
          <!-- <th>View</th> -->
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @admin_cities.each do |admin_city| %>
          <tr>
            <td><%= admin_city.city_name %></td>
            <!-- <td><%#= link_to 'Show', admin_city %></td> -->
            <td><%= link_to 'Edit', edit_admin_city_path(admin_city) %></td>
            <td>
              <%= button_to("Delete",admin_city, {:onclick => "return confirm('Are you sure?')", :method => :delete}) %>
              <%#= button_to 'Delete', admin_city,{:onclick => "return confirm('Are you
sure?')", :method => :delete} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<br>
</div>
    </div>
  </div>
</div>


 <script type="text/javascript">

     $(document).ready(function() {
    $('#example').dataTable({"sPaginationType": "full_numbers"});
});
    </script>