<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
  <ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',root_path %></li> 
            <li><%= link_to 'Job Post Page', job_posts_path %></li>
            <li class = "active">Job Details</li> 
    </ol>

 </p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Job Group:</strong>
  <%= @job.job_group.job_model_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company.company_name %>
</p>

<p>
  <strong>Status:</strong>
  <% if @job.status ==  "1"%>
    <%= "Open" %>
  <%else%>
    <%= "Closed" %>
  <%end%>
</p>

<p>
  <strong>Publish/Unpublished:</strong>
  <%if @job.publish_unpublish == false %>
    <%= "Unpublished" %>
  <%else%>
    <%= "Published"%>
  <%end%>
</p>



<p>
  <strong>job name:</strong>
  <%= @job.job_name %>
</p>

<p>
  <strong>description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>responsibilities:</strong>
  <%= @job.responsibilities %>
</p>

<p>
  <strong>requirements:</strong>
  <%= @job.requirements %>
</p>

<p>
  <strong>salary:</strong>
  <%= @job.salary %>
</p>

</div>
    </div>
  </div>
</div>

