  <p>
    <strong>Company Name:</strong>
    <%= @job_post.company.company_name rescue nil %>
  </p>

  <p>
    <strong>Job Name:</strong>
    <%= @job.job_name rescue nil %>
  </p>

  <p>
    <strong>Job Description:</strong>
    <%= @job.description rescue nil %>
  </p>

  <p>
    <strong>Job Responsibilities:</strong>
    <%= @job.description rescue nil %>
  </p>

  <p>
    <strong>Job Requirements:</strong>
    <%= @job.description rescue nil %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= @job.salary rescue nil %>
  </p>
<% @apply = JobPost.applied_post(@job_post,current_student.id)%>
<%unless @apply.present?%>
  <%= link_to "Apply For Post",job_interest_post_path(:job_id => @job.id)%>
<%end%>