<!DOCTYPE html>
<html>
<head>
  <title>Internship Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "theme", "index", "lib/animate" %>
     <%= javascript_include_tag "jquery.dataTables.min.js", "jquery-1.7.1.min.js" %>
               <%= stylesheet_link_tag "jquery.dataTables_themeroller.css", "jquery.dataTables.css"%>
    <style type="text/css">
               .breadcrumb > li + li:before {
               color: #CCCCCC;
               content: "/ ";
               padding: 0 5px;
            }
          </style>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
     
     <%= yield :styles %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
</head>
<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <strong>Uwindsor IMIS</strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <% if user_signed_in? %>
                      <%if current_user.is? :admin%>
                          <li><%= link_to "Dashboard",admin_root_path %></li>
                          <li><%= link_to "Logout",destroy_user_session_path, method: :delete %></li>
                      <% else %>
                       <li><a href="/" class="active">HOME</a></li>
                       <li><%= link_to "Admin Sign In",new_user_session_path %></li>
                       <li><%= link_to "Student Sign In",new_student_session_path %></li>
                      <% end %>
                    <%else%>
                        <%if current_student  %>
                          <li><a href="/" class="active">HOME</a></li>
                          <li><%= link_to "Dashboard",student_dashboard_path%></li>
                          <li><%= link_to "Logout",destroy_student_session_path, method: :delete %></li>
                        <%else%>
                          <li><a href="/" class="active">HOME</a></li>
                          <li><%= link_to "Admin Sign In",new_user_session_path %></li>
                          <li><%= link_to "Student Sign In",new_student_session_path %></li>
                        <%end%>
                    <%end%>
                   
                </ul>
            </div>
        </div>
      </div>
    </div>
    
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash#{name}" %>
      <% end %>

      <%= yield %>
    
        <!-- starts footer -->
        <footer id="footer">
            <div class="container">
                <div class="row sections">
                    
                   
                </div>
                <div class="row credits">
                    <div class="span12">
                        
                        <div class="row copyright">
                            <div class="span12">
                                Student Internship Management System
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        
        
        <%#= javascript_include_tag "bootstrap.min", "theme", "index-slider" %>
          
       <%= yield :scripts %>
    </body>
    </html>
  